In [5]:
!python create_tables.py

Traceback (most recent call last):
  File "create_tables.py", line 70, in <module>
    main()
  File "create_tables.py", line 63, in main
    drop_tables(cur, conn)
  File "create_tables.py", line 35, in drop_tables
    cur.execute(query)
psycopg2.ProgrammingError: can't execute an empty query

In [1]:
!python create_tables.py

Traceback (most recent call last):
  File "create_tables.py", line 70, in <module>
    main()
  File "create_tables.py", line 61, in main
    cur, conn = create_database()
  File "create_tables.py", line 17, in create_database
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
psycopg2.OperationalError: database "sparkifydb" is being accessed by other users
DETAIL:  There are 5 other sessions using the database.

In [2]:
!python create_tables.py

Traceback (most recent call last):
  File "create_tables.py", line 70, in <module>
    main()
  File "create_tables.py", line 61, in main
    cur, conn = create_database()
  File "create_tables.py", line 17, in create_database
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
psycopg2.OperationalError: database "sparkifydb" is being accessed by other users
DETAIL:  There are 6 other sessions using the database.

In [3]:
!python create_tables.py

Traceback (most recent call last):
  File "create_tables.py", line 71, in <module>
    main()
  File "create_tables.py", line 62, in main
    cur, conn = create_database()
  File "create_tables.py", line 17, in create_database
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
psycopg2.OperationalError: database "sparkifydb" is being accessed by other users
DETAIL:  There are 7 other sessions using the database.

In [4]:
!python create_tables.py

Traceback (most recent call last):
  File "create_tables.py", line 71, in <module>
    main()
  File "create_tables.py", line 62, in main
    cur, conn = create_database()
  File "create_tables.py", line 17, in create_database
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
psycopg2.OperationalError: database "sparkifydb" is being accessed by other users
DETAIL:  There are 2 other sessions using the database.

In [1]:
%sql SELECT * FROM songplays where song_id is NOT NULL and artist_id is NOT NULL LIMIT 5;

UsageError: Line magic function `%sql` not found.

In [1]:
%load_ext sql

In [3]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.8/site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.8/site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (49.6.0.post20201009)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: backcall in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pygments in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/lib/python3.8/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.1)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.6.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.4 MB/s  eta 0:00:01
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13698 sha256=1abf9d66545170c803ff0f289d8edda0ec0072631c2a158312a125164b287fba
  Stored in directory: /home/jovyan/.cache/pip/wheels/48/6d/77/9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@postgres/sparkifydb

In [3]:
%sql SELECT * FROM songplays where song_id is NOT NULL and artist_id is NOT NULL LIMIT 5;

 * postgresql://student:***@postgres/sparkifydb
0 rows affected.

[]

In [4]:
%sql SELECT * FROM songplays where song_id is NULL and artist_id is NULL LIMIT 5;

 * postgresql://student:***@postgres/sparkifydb
5 rows affected.

[(66133, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '49', 'paid', None, None, '1114', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (66134, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '16', 'paid', None, None, '1076', 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (66135, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '49', 'paid', None, None, '1114', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (66136, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '49', 'paid', None, None, '1114', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (66137, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '16', 'paid', None, None, '1076', 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')]

In [5]:
%sql SELECT COUNT(*) FROM songplays where song_id is NULL and artist_id is NULL LIMIT 5;

 * postgresql://student:***@postgres/sparkifydb
1 rows affected.

[(330,)]

In [6]:
!python3 create_tables.py

Traceback (most recent call last):
  File "create_tables.py", line 71, in <module>
    main()
  File "create_tables.py", line 62, in main
    cur, conn = create_database()
  File "create_tables.py", line 17, in create_database
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
psycopg2.errors.ObjectInUse: database "sparkifydb" is being accessed by other users
DETAIL:  There is 1 other session using the database.

In [11]:
%sql SELECT pid FROM pg_stat_activity where pid <> pg_backend_pid();

 * postgresql://student:***@postgres/sparkifydb
6 rows affected.

[(29,), (31,), (39,), (27,), (26,), (28,)]

In [12]:
SELECT pg_terminate_backend(29);

SyntaxError: invalid syntax (<ipython-input-12-6016b10d99a8>, line 1)

In [13]:
SELECT pg_terminate_backend(29);

SyntaxError: invalid syntax (<ipython-input-13-6016b10d99a8>, line 1)

In [19]:
!python etl.py

71 files found in data/song_data
1/71 files processed.
2/71 files processed.
3/71 files processed.
4/71 files processed.
5/71 files processed.
6/71 files processed.
7/71 files processed.
8/71 files processed.
9/71 files processed.
10/71 files processed.
11/71 files processed.
12/71 files processed.
13/71 files processed.
14/71 files processed.
15/71 files processed.
16/71 files processed.
17/71 files processed.
18/71 files processed.
19/71 files processed.
20/71 files processed.
21/71 files processed.
22/71 files processed.
23/71 files processed.
24/71 files processed.
25/71 files processed.
26/71 files processed.
27/71 files processed.
28/71 files processed.
29/71 files processed.
30/71 files processed.
31/71 files processed.
32/71 files processed.
33/71 files processed.
34/71 files processed.
35/71 files processed.
36/71 files processed.
37/71 files processed.
38/71 files processed.
39/71 files processed.
40/71 files processed.
41/71 files processed.
42/71 files processed.
43/71 files processed.
44/71 files processed.
45/71 files processed.
46/71 files processed.
47/71 files processed.
48/71 files processed.
49/71 files processed.
50/71 files processed.
51/71 files processed.
52/71 files processed.
53/71 files processed.
54/71 files processed.
55/71 files processed.
56/71 files processed.
57/71 files processed.
58/71 files processed.
59/71 files processed.
60/71 files processed.
61/71 files processed.
62/71 files processed.
63/71 files processed.
64/71 files processed.
65/71 files processed.
66/71 files processed.
67/71 files processed.
68/71 files processed.
69/71 files processed.
70/71 files processed.
71/71 files processed.
30 files found in data/log_data
1/30 files processed.
2/30 files processed.
3/30 files processed.
4/30 files processed.
5/30 files processed.
6/30 files processed.
7/30 files processed.
8/30 files processed.
9/30 files processed.
10/30 files processed.
11/30 files processed.
12/30 files processed.
13/30 files processed.
14/30 files processed.
15/30 files processed.
16/30 files processed.
17/30 files processed.
18/30 files processed.
19/30 files processed.
^C
Traceback (most recent call last):
  File "etl.py", line 115, in <module>
    main()
  File "etl.py", line 109, in main
    process_data(cur, conn, filepath='data/log_data', func=process_log_file)
  File "etl.py", line 99, in process_data
    func(cur, datafile)
  File "etl.py", line 58, in process_log_file
    for index, row in df.iterrows():
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/frame.py", line 1014, in iterrows
    s = klass(v, index=columns, name=k)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/series.py", line 329, in __init__
    data = SingleBlockManager.from_array(data, index)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/internals/managers.py", line 1569, in from_array
    block = make_block(array, placement=slice(0, len(index)), ndim=1)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/internals/blocks.py", line 2715, in make_block
    klass = get_block_type(values, dtype)
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/internals/blocks.py", line 2674, in get_block_type
    elif is_categorical_dtype(values.dtype):
  File "/opt/conda/lib/python3.8/site-packages/pandas/core/dtypes/common.py", line 557, in is_categorical_dtype
    if isinstance(arr_or_dtype, ExtensionDtype):
KeyboardInterrupt

In [17]:
%sql SELECT * FROM songplays WHERE song_id IS NOT NULL AND artist_id IS NOT NULL LIMIT 5;

 * postgresql://student:***@postgres/sparkifydb
0 rows affected.

[]

In [18]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@postgres/sparkifydb
5 rows affected.

[(99943, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '91', 'free', None, None, '829', 'Dallas-Fort Worth-Arlington, TX', 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)'),
 (99944, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '73', 'paid', None, None, '1049', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (99945, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '73', 'paid', None, None, '1049', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (99946, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '73', 'paid', None, None, '1049', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (99947, datetime.datetime(2018, 11, 30, 19, 54, 24, 796000), '73', 'paid', None, None, '1049', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]